body {
    font-family: 'Arial', sans-serif;
    background-image: url('/static/img/fondo.jpg'); 
    background-size: cover;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.459);
    padding: 10px 0;
}
header h1{
    color: white;
    font-family:fantasy;
}
nav{
    padding-top: 20px;
    display: flex;
    gap: 320px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav button{
    font-size: 17px;
    margin-top: -22px;
    margin-left: -70px;
}


.recently-added {
    color: white;
    text-align: center;
    padding: 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.card {
    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}
.card:hover{
    transform: translateY(-10px);
    background-color: rgba(255, 255, 255, 0.377);
 
}

.card img {
    height: 35%;
    width: 100%;
    border-radius: 10px;
}

button {
    background-color: #af1f1fa8;
    border: none;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    
}
a{
    text-decoration: none;    
    color: white;
}

button:hover {
    background-color: red;
}

footer {
    margin-top: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px 0;
}

#registro-form{
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 100px;
    gap: 10px;
}
#user-info{
    color: white;
}
#cerrar-sesion{
    margin-left: 170px;
    margin-top: -29px;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    background-color:rgba(0, 0, 0, 0) ;    
   }
   button.registro {
      border-radius: 5px;
    width: 200px;
    height: 30px;
      background-color:rgba(0, 0, 0, 0) ;
      transition-duration: 0.4s; 
  }
  
  button.registro:hover {
      background: linear-gradient(#af1f1f00);
  }
.todo{
    display: flex;
    padding: 20px;
}
.contenedor{
    width: 800px;
    padding: 20px;
}
#grande{
    height: 500px;
}


.imagenes{

    display: flex;

}
.imagenes img{
    height: 123px;
    transition: transform 0.3s ease-in-out;
}
.imagenes img:hover{
    transform: translateY(-10px);

}
.detalles{
    color: white;
}
.detalles_todo{
    color: white;
    padding: 20px;
    font-size:20px ;
    gap: 40px;
    display: flex;
    flex-direction:column ;
    background-color: rgba(0, 0, 0, 0.7);
    height: 590px;
    margin-top: 20px;
}

.comments-section {
    width: 74%;
    margin: 20px auto;
    background-color: #1e1e1e7a;
    padding: 20px;
    border-radius: 8px;
    
}

.comments-section h2 {
    text-align: center;
    color: white;
}

.comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#name-input, #comment-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #333333;
    color: #ffffff;
    
}

#comment-input {
    height: 100px;
}

.comment {
    background-color: #3333338e;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    position: relative;
}

.comment p {
    margin: 0;
}

.comment-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.comment-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.comment-buttons button {
    margin-left: 5px;
    background-color: rgba(255, 255, 255, 0.623);
    color: #000000;
}

.comment-buttons button:hover {
    background-color: white;
}

.slider-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
padding-top: 75px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
    border-radius: 20px;

}

.prev, .next {
    position: absolute;
    top: 57%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
